#! zen puzzle garden

#=Ssounds/click.wav
#=Qsounds/chime.wav

=>.qm menu.cfg
@@@


^Qcc

==:r~
@@@
  R

==^T~
@~@@

==RTo78~X
==QTo78~X
  .~   .~   .~   .~   .~   .~   .~   .~   .~   .~   .~
     ______________________________________________
     |r~~~|a~~~|a~~~|a~~~|a~~~|a~~~|a~~~|a~~~|a~~~|
  .~ |~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~| .~
     |____|____|____|____|____|____|____|____|____|
     |a~~~|a~~~|s~~~|a~~~|r~~~|a~~~|a~~~|r~~~|a~~~|
  .~ |~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~| .~
     |____|____|____|____|____|____|____|____|____|
     |a~~~|a~~~|a~~~|a~~~|.:..|r~~~|a~~~|a~~~|a~~~|
@@.~ |~~~~|~~~~|~~~~|~~~~|.@oo|~~~~|~~~~|~~~~|~~~~| .~
     |____|____|____|____|____|____|____|____|____|
     |a~~~|a~~~|r~~~|a~~~|a~~~|a~~~|a~~~|s~~~|a~~~|
  .~ |~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~| .~
     |____|____|____|____|____|____|____|____|____|
     |r~~~|a~~~|a~~~|a~~~|r~~~|r~~~|a~~~|a~~~|a~~~|
  .~ |~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~|~~~~| .~
     |____|____|____|____|____|____|____|____|____|

  .~   .~   .~   .~   .~ ~~^&~~~.~   .~   .~   .~   .~

=Q.T~38
   .    .    .    .    .    .    .    .    .   .    .    .    .    .    .    .    .    .


   .    .    .    .    .    .    .    .    .   .    .    .    .    .    .    .    .    .


   .    .    .    .    @    .    .    .    . @ .    .    .    .    @    .    .    .    .


   .    .    .    .    .    .    .    .    .   .    .    .    .    .    .    .    .    .


   .    .    .    .    .    .    .    .    .   .    .    .    .    .    .    .    .    .



                                                                  Solved

==rT~
==aT~
@@@. .
   ..
==rT~
==aT~
@@@. .
   ..
==rT~
==aT~
@@@ ..
   . .
==rT~
==aT~
@@@..
    ..
==rT~
==aT~
@@@  .
    .
==rT~
==aT~
@@@ .
   . .
==rT~
==aT~
@@@ ..
   ..
==rT~
==aT~
@@@ ..
   ..
==rT~
==aT~
@@@ ..
   ..
==rT.
==sT.
@@@ o
   oo
==rT.
==sT.
@@@o
   oo
==rT.
==sT.
@@@o o
  ooo
==rT.
==sT.
@@@o o
  ooo

=SXd=38.
=SXd=38~
           .
 = >@ |  &@==@== >X
=SXd~38>
=SXd~38<
=SXd~38^
=SXd~38v
 ~ >@ |  .@ ~@ = >X
=SXd~38>
=SXd~38<
=SXd~38^
=SXd~38v
 ~ >@ |  ~@ ~@ = >X
=SXd=38.
=SXd=38~
           .
 = >@ |  &@==@== >X
=SXd=38.
=SXd=38~
| <@    &@~@== >X
=SXd/38.
=SXd/38~
          .
| ^@ |  &@ /@== >X
           ||
=SXd\38.
=SXd\38~
          .||
| v@ |  &@ \@== >X
=SXd~38.
=SXd~38~

~ ^@ |  &@.@ ==>X
=SXd~38.
=SXd~38~

~ v@ |  &@.@ ==>X

=SXa~38.
=SXa~38~
&    >@ |@<X== .@
=SXa~38.
=SXa~38~
&  | <@ ~@<X== .@
=SXa=38.
=SXa=38~
              .
&  | <@ =@<X ===@=
=SXa\38.
=SXa\38~
              .
&  | ^@ |@<X ==\@
               ||
=SXa~38.
=SXa~38~
&  | ^@  @<X== .@
     ~~

=SXa/38.
=SXa/38~
              .||
&  | v@ |@<X ==/@
=SXa~38.
=SXa~38~
&  | v@ ~@<X = .@

=SXw/38.
=SXw/38~
   &      ^X
          ..
         .||
 = >@ |@==/@
=SXw~38.
=SXw~38~
   &      ^X


 ~ >@ |@  .@
=SXw\38.
=SXw\38~
  &     ^X
        ..
       .||
| <@  @ \@==
=SXw|38.
=SXw|38~
  &     ^X
  _     ..
       .||
| ^@ |@ |@
        ||
=SXw~38<
=SXw~38>
=SXw~38^
=SXw~38v
  ~    ^X
  _    ..

  &@  @.@
  ~~
=SXw~38<
=SXw~38>
=SXw~38^
=SXw~38v
  .    ^X
  _    ..

  &@  @.@
  ~~
=SXw|38.
=SXw|38~
  &     ^X
        ..
       .||
| v@ |@ |@

=SXs\38.
=SXs\38~
   _
         .
 = >@  @==\@
          ||

   &      vX
=SXs/38.
=SXs/38~
       .
| <@  @ /@==
        ||

  &     vX
=SXs~38.
=SXs~38~
~ <@  @ .@
        ..
        ||
| &     vX
=SXs~38.
=SXs~38~
~ >@  @ .@
        ..
        ||
| &  |  vX
=SXs|38.
=SXs|38~
| ^@ |@.|@
        ||

  &     vX
=SXs|38.
=SXs|38~
       .||
| v@ |@ |@
        ||

  &     vX

# outside

=SXd~38<
=SXd~38>
=SXd~38^
=SXd~38v
~ &@ ~ .@.@   >X

=SXa~38<
=SXa~38>
=SXa~38^
=SXa~38v
.  ~ &@ ~@<X~ ~.@

=SXw~38~
  &    ^X
  _    ||

  >@ &@~@
=SXw~38<
=SXw~38>
=SXw~38^
=SXw~38v
  .    ^X
  ~

  &@  @.@
  ~
=SXs~38>
=SXs~38<
=SXs~38^
=SXs~38v
  ~~

  &@  @.@
  ~

  .    vX
